.wrplogin {
  background: gray;
  padding: 20px;
  margin: 0 auto;
  display: inline-block;
  width: 300px;
}

.iteminput {
  margin: 5px 0;
}

.wrplogin input[type="text"],
.wrplogin input[type="password"] {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
